.navbar {
    align-items: center;
    top: 0;
    overflow: hidden;
    background-color: black;
    width: auto;
    padding-left: 300px;
    font-size: 24px;
    display: flex;
    text-align: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px 18px;
}
.navbar a:hover{
    color: red;
}
.about{
    text-align: center;
    color: black;
    padding-left: 120px;
    padding-right: 120px;
    line-height: 30px;
    font-size: 20px;
    padding-top: 20px;
}
.profile{
    text-align: center;
    color: black;
    line-height: 30px;
    font-size: 20px;
    list-style-position: inside;
}
.experience{
    line-height: 30px;
    font-size: 20px;
    padding-left: 450px;
    padding-top: 20px;
    list-style-position: inside;
}
.Learn{
    text-align: center;
    color: black;
    padding-left: 300px;
    padding-right: 120px;
    line-height: 30px;
    font-size: 20px;
}
.home{
    text-align: center;
    color: black;
    font-size: 20px;
}
table{
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}
th, td{
    border: 1px solid white;
    background-color: aquamarine;
}