body{
    background-image: url(/imgs/linkedin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.Home {
    /* background-color: rgb(177, 177, 186); */
    color: green;
    height: 100%;
    width: 70%;
    margin: auto;
    /* margin-top: 50px; */
    padding: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    
}
.navbar {
    align-items: center;
    top: 0;
    overflow: hidden;
    background-color: black;
    width: auto;
    padding-left: 300px;
    font-size: 24px;
    display: flex;
    text-align: center;
    
}
.navbar a {
    display: flex;
    text-align: center;
    padding: 15px 18px;
    float: right;
    color: white;
    padding-left: 30px;
    text-decoration: none;
    
}
.navbar a:hover {
    color:red;
}
.Experience {
    /* background-color: rgb(177, 177, 186); */
    color: green;
    height: 578px;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 5px;
    font-size: 20px;
    line-height: 50px;
}
.Home1 {
    /* background-color: rgb(177, 177, 186); */
    height: 578px;
    width: 500px;
    /* margin: auto; */
    margin-top: 50px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    
}
#form{
    border: solid black;
    word-spacing: 6rem;
}
a:hover{
    color: red;
}